@{
  Layout = "_Layout";
}
<h1>Travel Diary</h1>
<h2>Add places you've been!</h2>

<button class="btn"><a href='/places/new'>Add new experience</a></button>
<button class="btn"><a href='/places'>See list of places we have vacationed</a></button>
