@{
  Layout = "_Layout";
}

<form action="/vendors/" method="post">
  <label for="VendorName">Add the city you visited</label>
  <input id="VendorName" name="VendorName" type="text">
  <br>
  <label for="VendorDescription">Add an image url of your destination</label>
  <input id="VendorDescription" name="VendorDescription" type="text">
  <br>
  <br>
  <button type="submit" class="btn btn-info" >Submit</button>
</form>