@{
  Layout = "_Layout";
}

<form action="/places/" method="post">
  <label for="CityName">Add the city you visited</label>
  <input id="CityName" name="CityName" type="text">
  <br>
  <label for="MyPicture">Add an image url of your destination</label>
  <input id="MyPicture" name="MyPicture" type="text">
  <br>
  <label for="Companion">Add your companion for the trip</label>
  <input id="Companion" name="Companion" type="text">
  <br>
  <label for="description">Describe your trip</label>
  <input id="MyJournal" name="MyJournal" type="text">
  <br>
  <button type="submit" class="btn btn-info" >Submit</button>
</form>