@using Places.Models;

@{
  Layout = "_Layout";
}

<h1>Destination:</h1>
<h2>@Model.CityName</h2>
<img src='@Model.MyPicture' width=50%>
<p>Travel Companion: @Model.Companion</p>
<p>Trip Details: @Model.MyJournal</p>


<button class="btn btn-light"><a href='/places/new'>Add another item</a></button>
<button class="btn btn-light"><a href='/places'>View all items</a></button>
<br>
<br>
<form action="/places/delete/@Model.Id" method="post">
  <button class="btn btn-light" type="submit">Delete this entry</button>
</form>

